In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

%matplotlib inline

In [32]:
test_data = pd.read_csv("../data/test_likelihood.csv")

In [34]:
acc_measures = []
for i,a in enumerate(test_data['acc_x']): 
    acc_measures.append(np.linalg.norm(np.array([test_data['acc_x'][i], test_data['acc_y'][i]])))

test_data['acc_measured'] = acc_measures

In [35]:
test_data

,Unnamed: 0,acc,theta,acc_x,acc_y,orientation,acc_measured
0,0,-5.233392,5.734938,845.895998,-66.766943,2.875345,848.526879
1,1,-5.118235,17.209104,845.895998,-66.766943,2.875345,848.526879
2,2,-5.230717,-85.327242,845.895998,-66.766943,2.875345,848.526879
3,3,-5.215379,54.728664,845.895998,-66.766943,2.875345,848.526879
4,4,-5.193488,-18.307261,845.895998,-66.766943,2.875345,848.526879
...,...,...,...,...,...,...,...
95,95,-5.237005,36.724179,845.895998,-66.766943,2.875345,848.526879
96,96,-5.214356,11.482300,845.895998,-66.766943,2.875345,848.526879
97,97,-5.250821,76.742578,845.895998,-66.766943,2.875345,848.526879
98,98,-5.151769,52.229129,845.895998,-66.766943,2.875345,848.526879
99,99,-5.150920,-10.001878,845.895998,-66.766943,2.875345,848.526879

In [30]:
test_data = pd.read_csv("../data/test_acceleration.csv")
acc_measures = []
for i in range(len(test_data)): 
    acc_measures.append(np.linalg.norm(np.array([test_data['acc_x'][i], test_data['acc_y'][i]])))

test_data['acc_measures'] = acc_measures

In [31]:
test_data

   Unnamed: 0       acc        acc_x      acc_y  acc_measures
0           0  0.199925     0.409125  -0.174754      0.444884
1           1 -0.295246  2007.826621   4.891604   2007.832579
2           2 -5.118920   845.646161 -66.945236    848.291869
3           3  7.917599  -145.401522   9.366354    145.702886
4           4  0.185752 -1160.779575  20.539809   1160.961285